body {
  font-family: sans-serif;
}

.move-grid {
  padding:10px 10px 0 20px;
}

.total {
  position: relative;
  top: 34px;
}

.add_shelter {
  position: relative;
  top: 43px;
}

.inp-margin {
  margin: 10px 0;
}

.main-div {
  width: 80%;
  padding: 2%;
}

.total-shelters {
  position: absolute;
  padding: 1% 0 0 2px;
}
html {
  overflow-y: hidden;
}